<!DOCTYPE html>
<html lang="en">
<head>   
    
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->     
  <title>中医药查询系统</title>

  <!-- Favicon -->
    

  <!-- Font-Awesome (CSS) -->
  <link rel="stylesheet" href="static/css/all.min.css">

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/responsive.css">
  <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchForm = document.querySelector(".search-container");
            const searchBar = document.getElementById("search-bar");

            // 定义中文关键词到HTML文件的映射关系
            const mapping =  {'一枝黄花': 'file1.html', '丁公藤': 'file2.html', '丁香': 'file3.html', '三七': 'file4.html',
              '三棱': 'file5.html', '三白草': 'file6.html', '三颗针': 'file7.html', '丝瓜络': 'file8.html', '两面针': 'file9.html',
              '丹参': 'file10.html', '乌梅': 'file11.html', '乌药': 'file12.html', '九里香': 'file13.html', '乳香': 'file14.html',
              '五加皮': 'file15.html', '五味子': 'file16.html', '亚麻子': 'file17.html', '人参': 'file18.html', '人参叶': 'file19.html',
              '仙茅': 'file20.html', '仙鹤草': 'file21.html', '伊贝母': 'file22.html', '何首乌': 'file23.html', '佛手': 'file24.html',
              '佩兰': 'file25.html', '使君子': 'file26.html', '侧柏叶': 'file27.html', '偏头七': 'file28.html', '党参': 'file29.html',
              '八角茴香': 'file30.html', '冬凌草': 'file31.html', '冬瓜皮': 'file32.html', '冰片': 'file33.html', '决明子': 'file34.html',
              '刀豆': 'file35.html', '刺五加': 'file36.html', '前胡': 'file37.html', '化橘红': 'file38.html', '北刘寄奴': 'file39.html',
              '北沙参': 'file40.html', '北豆根': 'file41.html', '千里光': 'file42.html', '千金子': 'file43.html', '升麻': 'file44.html',
              '半夏': 'file45.html', '半枝莲': 'file46.html', '半边莲': 'file47.html', '南五味子': 'file48.html', '南鹤虱': 'file49.html',
              '卷柏': 'file50.html', '厚朴': 'file51.html', '合欢皮': 'file52.html', '合欢花': 'file53.html', '吴茱萸': 'file54.html',
              '商陆': 'file55.html', '四季青': 'file56.html', '土木香': 'file57.html', '土茯苓': 'file58.html', '土荆皮': 'file59.html',
              '土贝母': 'file60.html', '地榆': 'file61.html', '地骨皮': 'file62.html', '地黄': 'file63.html', '垂盆草': 'file64.html',
              '墨旱莲': 'file65.html', '夏天无': 'file66.html', '夏枯草': 'file67.html', '大叶紫珠': 'file68.html', '大枣': 'file69.html',
              '大皂角': 'file70.html', '大蒜': 'file71.html', '大蓟': 'file72.html', '大血藤': 'file73.html', '大青叶': 'file74.html',
              '大黄': 'file75.html', '天仙子': 'file76.html', '天仙藤': 'file77.html', '天冬': 'file78.html', '天南星': 'file79.html',
              '天竺黄': 'file80.html', '天花粉': 'file81.html', '天麻': 'file82.html', '太子参': 'file83.html', '女贞子': 'file84.html',
              '委陵菜': 'file85.html', '姜黄': 'file86.html', '威灵仙': 'file87.html', '娑罗子': 'file88.html', '安息香': 'file89.html',
              '密蒙花': 'file90.html', '射干': 'file91.html', '小茴香': 'file92.html', '小蓟': 'file93.html', '山慈菇': 'file94.html',
              '山柰': 'file95.html', '山楂': 'file96.html', '山茱萸': 'file97.html', '山药': 'file98.html', '山豆根': 'file99.html',
              '岩白菜': 'file100.html', '川乌': 'file101.html', '川木通': 'file102.html', '川木香': 'file103.html', '川楝子': 'file104.html',
              '川牛膝': 'file105.html', '川芎': 'file106.html', '川贝母': 'file107.html', '巴戟天': 'file108.html', '巴豆': 'file109.html',
              '巴豆霜': 'file110.html', '常山': 'file111.html', '干姜': 'file112.html', '平贝母': 'file113.html', '广藿香': 'file114.html',
              '广金钱草': 'file115.html', '延胡索': 'file116.html', '当归': 'file117.html', '当药': 'file118.html', '徐长卿': 'file119.html',
              '忍冬藤': 'file120.html', '急性子': 'file121.html', '拳参': 'file122.html', '救必应': 'file123.html', '旋覆花': 'file124.html',
              '昆布': 'file125.html', '明党参': 'file126.html', '月季花': 'file127.html', '木瓜': 'file128.html', '木蝴蝶': 'file129.html',
              '木贼': 'file130.html', '木通': 'file131.html', '木香': 'file132.html', '木鳖子': 'file133.html', '朱砂根': 'file134.html',
              '杜仲': 'file135.html', '杜仲叶': 'file136.html', '杠板归': 'file137.html', '板蓝根': 'file138.html', '枇杷叶': 'file139.html',
              '枳壳': 'file140.html', '枳实': 'file141.html', '枸杞子': 'file142.html', '枸骨叶': 'file143.html', '柏子仁': 'file144.html',
              '柴胡': 'file145.html', '柿蒂': 'file146.html', '栀子': 'file147.html', '桂枝': 'file148.html', '桃仁': 'file149.html',
              '桃枝': 'file150.html', '桑叶': 'file151.html', '桑寄生': 'file152.html', '桑枝': 'file153.html', '桑白皮': 'file154.html',
              '桔梗': 'file155.html', '棕榈': 'file156.html', '榼藤子': 'file157.html', '槐花': 'file158.html', '槐角': 'file159.html',
              '槟榔': 'file160.html', '槲寄生': 'file161.html', '橘核': 'file162.html', '檀香': 'file163.html', '款冬花': 'file164.html',
              '水飞蓟': 'file165.html', '沉香': 'file166.html', '没药': 'file167.html', '泽兰': 'file168.html', '泽泻': 'file169.html',
              '洋金花': 'file170.html', '浙贝母': 'file171.html', '浮萍': 'file172.html', '海藻（羊栖菜）': 'file173.html',
              '海金沙': 'file174.html', '海风藤': 'file175.html', '淡竹叶': 'file176.html', '淫羊藿': 'file177.html', '满山红': 'file178.html',
              '漏芦': 'file179.html', '火麻仁': 'file180.html', '灯心草': 'file181.html', '灯盏细辛': 'file182.html', '灵芝': 'file183.html',
              '焦栀子': 'file184.html', '牛膝': 'file185.html', '牛蒡子': 'file186.html', '牡丹皮': 'file187.html', '牡荆叶': 'file188.html',
              '牵牛子': 'file189.html', '独一味': 'file190.html', '独活': 'file191.html', '狼毒': 'file192.html', '猪牙皂': 'file193.html',
              '玄参': 'file194.html', '玉竹': 'file195.html', '王不留行': 'file196.html', '玫瑰花': 'file197.html', '珠子参': 'file198.html',
              '瓜蒌': 'file199.html', '甘松': 'file200.html', '甘草': 'file201.html', '甘遂': 'file202.html', '生姜': 'file203.html',
              '番泻叶': 'file204.html', '白前': 'file205.html', '白及': 'file206.html', '白头翁': 'file207.html', '白屈菜': 'file208.html',
              '白扁豆': 'file209.html', '白术': 'file210.html', '白果': 'file211.html', '白芍': 'file212.html', '白芷': 'file213.html',
              '白茅根': 'file214.html', '白蔹': 'file215.html', '白薇': 'file216.html', '白附子': 'file217.html', '白鲜皮': 'file218.html',
              '百合': 'file219.html', '百部': 'file220.html', '皂角刺': 'file221.html', '益智': 'file222.html', '益母草': 'file223.html',
              '知母': 'file224.html', '石吊兰': 'file225.html', '石斛': 'file226.html', '石榴皮': 'file227.html', '石菖蒲': 'file228.html',
              '石韦': 'file229.html', '砂仁': 'file230.html', '秦艽': 'file231.html', '积雪草': 'file232.html', '穿山龙': 'file233.html',
              '穿心莲': 'file234.html', '竹根七': 'file235.html', '竹茹': 'file236.html', '筋骨草': 'file237.html', '紫花地丁': 'file238.html',
              '紫苏叶': 'file239.html', '紫苏子': 'file240.html', '紫苏梗': 'file241.html', '紫草': 'file242.html', '紫菀': 'file243.html',
              '红参': 'file244.html', '红景天': 'file245.html', '红花': 'file246.html', '细辛': 'file247.html', '络石藤': 'file248.html',
              '续断': 'file249.html', '绵萆薢': 'file250.html', '罂粟壳': 'file251.html', '罗布麻叶': 'file252.html', '罗汉果': 'file253.html',
              '羌活': 'file254.html', '老鹳草': 'file255.html', '肉桂': 'file256.html', '肉苁蓉': 'file257.html', '肉豆蔻': 'file258.html',
              '肿节风': 'file259.html', '胖大海': 'file260.html', '胡椒': 'file261.html', '胡芦巴': 'file262.html', '胡黄连': 'file263.html',
              '艾叶': 'file264.html', '芡实': 'file265.html', '芥子': 'file266.html', '芦根': 'file267.html', '芦荟': 'file268.html',
              '芫花': 'file269.html', '花椒': 'file270.html', '苍术': 'file271.html', '苍耳子': 'file272.html', '苏合香': 'file273.html',
              '苏木': 'file274.html', '苦参': 'file275.html', '苦地丁': 'file276.html', '苦木': 'file277.html', '苦杏仁': 'file278.html',
              '苦楝皮': 'file279.html', '苦玄参': 'file280.html', '茜草': 'file281.html', '茯苓': 'file282.html', '茵陈': 'file283.html',
              '荆芥': 'file284.html', '草乌': 'file285.html', '草果': 'file286.html', '草豆蔻': 'file287.html', '荜澄茄': 'file288.html',
              '荜茇': 'file289.html', '药王茶': 'file290.html', '荷叶': 'file291.html', '莪术': 'file292.html', '莱菔子': 'file293.html',
              '莲子': 'file294.html', '莲子心': 'file295.html', '菊花': 'file296.html', '菊苣': 'file297.html', '菝葜': 'file298.html',
              '菟丝子': 'file299.html', '菥蓂': 'file300.html', '萹蓄': 'file301.html', '葛根': 'file302.html', '葶苈子': 'file303.html',
              '蒲公英': 'file304.html', '蒲黄': 'file305.html', '蒺藜': 'file306.html', '蓍草': 'file307.html', '蓖麻子': 'file308.html',
              '蓼大青叶': 'file309.html', '蔓荆子': 'file310.html', '薄荷': 'file311.html', '薏苡仁': 'file312.html', '薤白': 'file313.html',
              '藁本': 'file314.html', '藕节': 'file315.html', '虎杖': 'file316.html', '蛇床子': 'file317.html', '蜘蛛香': 'file318.html',
              '血竭': 'file319.html', '补骨脂': 'file320.html', '西洋参': 'file321.html', '覆盆子': 'file322.html', '诃子': 'file323.html',
              '谷精草': 'file324.html', '豆蔻': 'file325.html', '豨莶草': 'file326.html', '赤小豆': 'file327.html', '赤芍': 'file328.html',
              '路路通': 'file329.html', '车前子': 'file330.html', '车前草': 'file331.html', '辛夷': 'file332.html', '辣椒': 'file333.html',
              '远志': 'file334.html', '连翘': 'file335.html', '连钱草': 'file336.html', '追风七（蓝布正）': 'file337.html', '郁李仁': 'file338.html',
              '郁金': 'file339.html', '酸枣仁': 'file340.html', '野木瓜': 'file341.html', '野菊花': 'file342.html', '金果榄': 'file343.html',
              '金樱子': 'file344.html', '金沸草': 'file345.html', '金钱草': 'file346.html', '金铁锁': 'file347.html', '金银花': 'file348.html',
              '钩藤': 'file349.html', '银柴胡': 'file350.html', '锁阳': 'file351.html', '闹羊花': 'file352.html', '防己': 'file353.html',
              '防风': 'file354.html', '附子': 'file355.html', '陈皮': 'file356.html', '降香': 'file357.html', '雷公藤': 'file358.html',
              '青叶胆': 'file359.html', '青果': 'file360.html', '青皮': 'file361.html', '青葙子': 'file362.html', '青蒿': 'file363.html',
              '青风藤': 'file364.html', '韭菜子': 'file365.html', '预知子': 'file366.html', '颠茄草': 'file367.html', '香加皮': 'file368.html',
              '香橼': 'file369.html', '香薷': 'file370.html', '香附': 'file371.html', '马兜铃': 'file372.html',
              '马钱子': 'file373.html', '马鞭草': 'file374.html', '马齿苋': 'file375.html', '骨碎补': 'file376.html',
              '高良姜': 'file377.html', '鱼腥草': 'file378.html', '鸡冠花': 'file379.html', '鸡血藤': 'file380.html',
              '鸡骨草': 'file381.html', '鸦胆子': 'file382.html', '鸭跖草': 'file383.html', '鹅不食草': 'file384.html',
              '鹿衔草': 'file385.html', '麦冬': 'file386.html', '麦芽': 'file387.html', '麻黄': 'file388.html', '麻黄根': 'file389.html',
              '黄山药': 'file390.html', '黄柏': 'file391.html', '黄精': 'file392.html', '黄芩': 'file393.html', '黄芪': 'file394.html',
              '黄蜀葵花': 'file395.html', '黄连': 'file396.html', '黑种草子': 'file397.html', '黑芝麻': 'file398.html', '黑豆': 'file399.html',
              '龙眼肉': 'file400.html', '龙胆': 'file401.html', '龙葵': 'file402.html'}

            // 搜索函数
            function search(query) {
                const fileName = mapping[query];
                if (fileName) {
                    // 跳转到对应的HTML文件
                    window.location.href = fileName;
                } else {
                    alert('未找到匹配的文件。');
                }
            }

            // 监听表单提交事件
            searchForm.addEventListener("submit", function(event) {
                event.preventDefault();
                const query = searchBar.value.trim();
                search(query);
            });
        });
    </script>
</head>
<body>

  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fa-solid fa-arrow-up-long"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->


 
  <!-- ==================== Header Area (Start) ==================== -->
  <header class="header">

    <!-- ===== Header-1 Area (Start) ===== -->
    <div class="header-1">

      <!-- == Contacts == -->
      <ul class="header-contacts">
        <li><i class="fas fa-phone"></i><span>18868776067</span></li>
        <li><i class="fas fa-envelope"></i><span class="gmail">3432192572@qq.com</span></li>
      </ul>

      <!-- == Social == -->
      <ul class="social-contacts">
        <li><a href="#" class="fab fa-facebook-f"></a></li>
        <li><a href="#" class="fa-brands fa-x-twitter"></a></li>
        <li><a href="#" class="fab fa-instagram"></a></li>
        <li><a href="#" class="fab fa-linkedin"></a></li>
      </ul>

    </div>
    <!-- ===== Header-1 Area (End) ===== -->

    <!-- ===== Header-2 Area (Start) ===== -->
    <div class="header-2">

      <!-- == Logo == -->
      <a class="logo" href="index.html">
        <img src="static/picture/logo.png" alt="logo">
        <div class="logo-name">
          <h3>Night</h3>
        </div>
      </a>

      <div class="container">

        <!-- == Navbar == -->
        <nav class="navbar">

          <div class="dropdown-menu">
            <button class="nav-btn"><a class="nav-btn" href="index.html">首页</a></button>
            <div class="dropdown-content">
              <a href="Register.html">注册</a>
              <a href="Login.html">登录</a>

            </div>
          </div>



         <a class="nav-btn"  href="About.html">技术指南</a>

          <div class="dropdown-menu">
            <button class="nav-btn">中医宣传</button>
            <div class="dropdown-content">
              <a href="Gallery.html">中医大家</a>
              <a href="Process.html">中药材</a>
              <a href="Pricing.html">经方</a>

              <a href="Partners.html">针灸</a>
              <a href="Career.html">推拿</a>
              <a href="Career-Single.html">把脉</a>

            </div>
          </div>

          <div class="dropdown-menu">
            <a class="nav-btn" href="Login.html">查询</a>
          </div>




          <a class="nav-btn" href="Contact.html">建议</a>

        </nav>

        <!-- == Icon Container == -->
        <div class="icon-container"> 
          <div id="search-btn" class="icon fa-solid fa-magnifying-glass"></div> <!-- Search Icon -->
          <div id="menu-btn" class="icon fa-solid fa-bars-staggered"></div>
          <a href="Request-Quote.html" class="btn">详细信息</a>
        </div>

        <!-- == Search Container == -->
        <form class="search-container">
          <input type="search" id="search-bar" placeholder="search here" required=""> <!-- Search Input -->
          <button type="submit"><i class="fas fa-search"></i></button> <!-- Submit Button -->
        </form>

      </div>

    </div>
    <!-- ===== Header-2 Area (End) ===== -->

    <!-- ===== Mobile Menu Area (Start) ===== -->
    <div class="mobile-menu"> 
    
      <nav class="mobile-navbar">

        <div class="nav-link">
          <div class="main-nav-link"> <a class="nav-btn" href="index.html">home</a> </div>
        </div>   

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">about</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="About.html">about us</a>
            <a href="Team.html">team</a>
            <a href="Team-Single.html">team single</a>
            <a href="Testimonials.html">testimonials</a>
            <a href="Faqs.html">faqs</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">pages</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Gallery.html">Gallery</a>
            <a href="Process.html">our process</a>
            <a href="Pricing.html">Pricing</a>
            <a href="Request-Quote.html">Request A Quote</a>
            <a href="Partners.html">Partners</a>
            <a href="Career.html">Career</a>
            <a href="Career-Single.html">Career Single</a>
            <a href="Login.html">login</a>
            <a href="Register.html">register</a>
            <a href="Reset-Password.html">forgot Password</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Service</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Services.html">Services</a>
            <a href="Service-Single.html">Service Single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Project</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Projects.html">Projects</a>
            <a href="Project-Single.html">Project Single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">blog</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="">blogs grid</a>
            <a href="Blog-List.html">blogs list</a>
            <a href="Blog-Single.html">blog Single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Shop</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Shop-Grid.html">shop grid</a>
            <a href="Shop-List.html">shop list</a>
            <a href="Product-Single.html">product Single</a>
            <a href="Wishlist.html">wishlist</a>
            <a href="Cart.html">cart</a>
            <a href="Checkout.html">checkout</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <a class="nav-btn" href="Contact.html">contact</a> </div>
        </div>  

      </nav>
    
    </div>
    <!-- ===== Mobile Menu Area (End) ===== -->

  </header>
  <!-- ==================== Header Area (End) ==================== -->  



  <!-- ==================== Page-Title (Start) ==================== -->
  <div class="page-title">

    <div class="title">
      <h2>Blog Grid</h2>
    </div> 

    <div class="link">
      <a href="index.html">Home</a>
      <i class="fas fa-slash"></i>
      <span class="page">Blog Grid</span>
    </div>

  </div>
  <!-- ==================== Page-Title (End) ==================== -->


  <!-- ==================== Page Body (Start) ======================== -->

  <!-- ==================== Blog Grid (Start) ==================== -->
  <section class="blog grid"> 

    <!-- ========== Blog Container (Start) ========== -->
    <div class="blog-container grid">
    
      <!-- ===== Blogs (Start) ===== -->
      <div class="blog-items">
    
        <!-- Blog-1 -->
        <div class="blog-item">
          <div class="image">
            <img src="static/picture/Blog-1.jpg" alt="Blog-Image"> <!-- Blog Image -->
            <div class="date"><span>05</span> nov</div> <!-- Blog Date -->
          </div>
          <div class="content">
            <a class="main-heading" href="Blog-Single.html">Eco-Friendly Architectural Designs</a>
            <!-- Blog Title -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ut sint temporibus officia! Lorem ipsum dolor
              sit amet consectetur.</p>
            <div class="details">
              <h3><i class="fa-solid fa-user"></i><span>By Admin</span></h3> <!-- Author -->
              <h3 class="label"><i class="fas fa-pencil-alt"></i><span>Modern Design</span></h3> <!-- Category -->
            </div>
          </div>
        </div>
    
        <!-- Blog-2 -->
        <div class="blog-item">
          <div class="image">
            <img src="static/picture/Blog-2.jpg" alt="Blog-Image"> <!-- Blog Image -->
            <div class="date"><span>28</span> Oct</div> <!-- Blog Date -->
          </div>
          <div class="content">
            <a class="main-heading" href="Blog-Single.html">Innovative Small Space Solutions</a>
            <!-- Blog Title -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ut sint temporibus officia! Lorem ipsum dolor
              sit amet consectetur.</p>
            <div class="details">
              <h3><i class="fa-solid fa-user"></i><span>By Admin</span></h3> <!-- Author -->
              <h3 class="label"><i class="fas fa-pencil-alt"></i><span>Architectural Design</span></h3> <!-- Category -->
            </div>
          </div>
        </div>
    
        <!-- Blog-3 -->
        <div class="blog-item">
          <div class="image">
            <img src="static/picture/Blog-3.jpg" alt="Blog-Image"> <!-- Blog Image -->
            <div class="date"><span>24</span> Oct</div> <!-- Blog Date -->
          </div>
          <div class="content">
            <a class="main-heading" href="Blog-Single.html">Perfect Interior Design Color Palettes</a>
            <!-- Blog Title -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ut sint temporibus officia! Lorem ipsum dolor
              sit amet consectetur.</p>
            <div class="details">
              <h3><i class="fa-solid fa-user"></i><span>By Admin</span></h3> <!-- Author -->
              <h3 class="label"><i class="fas fa-pencil-alt"></i><span>Interior Design</span></h3> <!-- Category -->
            </div>
          </div>
        </div>
    
        <!-- Blog-4 -->
        <div class="blog-item">
          <div class="image">
            <img src="static/picture/Blog-4.jpg" alt="Blog-Image"> <!-- Blog Image -->
            <div class="date"><span>15</span> Oct</div> <!-- Blog Date -->
          </div>
          <div class="content">
            <a class="main-heading" href="Blog-Single.html">Integrating Technology in Interiors</a>
            <!-- Blog Title -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ut sint temporibus officia! Lorem ipsum dolor
              sit amet consectetur.</p>
            <div class="details">
              <h3><i class="fa-solid fa-user"></i><span>By Admin</span></h3> <!-- Author -->
              <h3 class="label"><i class="fas fa-pencil-alt"></i><span>Architectural Design</span></h3> <!-- Category -->
            </div>
          </div>
        </div>
    
        <!-- Blog-5 -->
        <div class="blog-item">
          <div class="image">
            <img src="static/picture/Blog-5.jpg" alt="Blog-Image"> <!-- Blog Image -->
            <div class="date"><span>05</span> Oct</div> <!-- Blog Date -->
          </div>
          <div class="content">
            <a class="main-heading" href="Blog-Single.html">Amazing Renovation Transformations</a>
            <!-- Blog Title -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ut sint temporibus officia! Lorem ipsum dolor
              sit amet consectetur.</p>
            <div class="details">
              <h3><i class="fa-solid fa-user"></i><span>By Admin</span></h3> <!-- Author -->
              <h3 class="label"><i class="fas fa-pencil-alt"></i><span>Home Interiors</span></h3> <!-- Category -->
            </div>
          </div>
        </div>
    
        <!-- Blog-6 -->
        <div class="blog-item">
          <div class="image">
            <img src="static/picture/Blog-6.jpg" alt="Blog-Image"> <!-- Blog Image -->
            <div class="date"><span>25</span> sep</div> <!-- Blog Date -->
          </div>
          <div class="content">
            <a class="main-heading" href="Blog-Single.html">Timeless Kitchen Design Trends 2024</a>
            <!-- Blog Title -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto ut sint temporibus officia! Lorem ipsum dolor
              sit amet consectetur.</p>
            <div class="details">
              <h3><i class="fa-solid fa-user"></i><span>By Admin</span></h3> <!-- Author -->
              <h3 class="label"><i class="fas fa-pencil-alt"></i><span>Nature Integration</span></h3> <!-- Category -->
            </div>
          </div>
        </div>
    
      </div>
    
      <!-- ===== Blogs (End) ===== -->
    
      <!-- ===== Pagination (Start) ===== -->
      <div class="pages-no">
    
        <div class="container">
    
          <!-- Previous page button -->
          <div class="item">
            <i class="fas fa-arrow-left"></i>
          </div>
    
          <!-- Page numbers -->
          <div class="numbers">
            <div class="item active">1</div> <!-- Active page number -->
            <div class="item">2</div> <!-- Page number 2 -->
            <div class="item">3</div> <!-- Page number 3 -->
          </div>
    
          <!-- Next page button-->
          <div class="item">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
    
        </div>
    
      </div>
      <!-- ===== Pagination (End) ===== -->
    
    </div>
    <!-- ========== Blog Container (End) ========== -->

    <!-- ========== Blog Sidebar Area (Start) ========== -->
    <div class="sidebar">

      <!-- ===== Search Area (Start) ===== -->
      <div class="search sidebar-item">

        <div class="sidebar-heading">
          <h2>search</h2>
        </div>

        <!-- Blog Search Form -->
        <form class="blog-search-container box-container">
          <div class="input-box">
            <input type="search" id="blog-search" placeholder="search..." required=""> <!-- Search Input -->
            <button type="submit"><i class="fas fa-search"></i></button> <!-- Submit Button -->
          </div>
        </form>

      </div>
      <!-- ===== Search Area (End) ===== -->

      <!-- ===== Category Area (Start) ===== -->
      <div class="category sidebar-item">

        <div class="sidebar-heading">
          <h2>categories</h2>
        </div>

        <!-- Blog Categories -->
        <div class="box-container">
          <a href="#" class="item"> <span>Interior Design</span>
            <p>(05)</p>
          </a>
          <a href="#" class="item"> <span>Modern Design</span>
            <p>(30)</p>
          </a>
          <a href="#" class="item"> <span>Nature Integration</span>
            <p>(05)</p>
          </a>
          <a href="#" class="item"> <span>Architectural Design</span>
            <p>(10)</p>
          </a>
          <a href="#" class="item"> <span>Home Interiors</span>
            <p>(06)</p>
          </a>
        </div>

      </div>
      <!-- ===== Category Area (End) ===== -->

      <!-- ===== Recent Posts Area (Start) ===== -->
      <div class="recent-posts sidebar-item">

        <div class="sidebar-heading">
          <h2>recent posts</h2>
        </div>

        <!-- Recent Posts -->
        <div class="box-container">

          <!-- Recent Post 1 -->
          <div class="post-item">
            <a class="main-heading" href="Blog-Single.html">Eco-Friendly Architectural Designs</a> <!-- Post title -->
            <img src="static/picture/Blog-1.jpg" alt="Recent-Post-Image"> <!-- Post image -->
          </div>

          <!-- Recent Post 2 -->
          <div class="post-item">
            <a class="main-heading" href="Blog-Single.html">Innovative Small Space Solutions</a> <!-- Post title -->
            <img src="static/picture/Blog-2.jpg" alt="Recent-Post-Image"> <!-- Post image -->
          </div>

          <!-- Recent Post 3 -->
          <div class="post-item">
            <a class="main-heading" href="Blog-Single.html">Perfect Interior Design Color Palettes</a>
            <!-- Post title -->
            <img src="static/picture/Blog-3.jpg" alt="Recent-Post-Image"> <!-- Post image -->
          </div>

        </div>

      </div>
      <!-- ===== Recent Posts Area (End) ===== -->

      <!-- ===== Tags Area (Start) ===== -->
      <div class="tags sidebar-item">

        <div class="sidebar-heading">
          <h2>Tags</h2>
        </div>

        <!-- Tags -->
        <div class="box-container">
          <a href="#" class="tag-item">Interior</a>
          <a href="#" class="tag-item">Architectural</a>
          <a href="#" class="tag-item">Design</a>
          <a href="#" class="tag-item">Home</a>
          <a href="#" class="tag-item">Decor</a>
          <a href="#" class="tag-item">Ideas</a>
          <a href="#" class="tag-item">Trends</a>
        </div>

      </div>
      <!-- ===== Tags Area (End) ===== -->


    </div>
    <!-- ========== Blog Sidebar Area (End) ========== -->

  </section>
  <!-- ==================== Blog Grid (End) ==================== -->

  <!-- ==================== Page Body (End) ======================== -->


    
  <!-- ==================== Footer Area (Start) ==================== -->
  <footer class="footer">

    <div class="box-container">
  
      <!-- == Company Information & Social Media Links == -->
      <div class="footer-item">
  
        <!-- Company Logo -->
        <a class="logo" href="index.html">
          <img src="static/picture/logo.png" alt="Company Logo">
          <div class="logo-name">
            <h3>Night</h3>
          </div>
        </a>

        <!-- Company Description -->
        <p>Transforming Spaces with Innovative Design and Precision Craftsmanship</p>
        
        <!-- Contact Info -->
        <div class="info connect">
          <p><i class="fas fa-phone"></i><span>18868776067</span></p>
          <p><i class="fas fa-envelope"></i><span class="gmail">3432192572@qq.com</span></p>
          <p><i class="fas fa-map-marker-alt"></i><span>Karachi, Pakistan</span></p>
        </div>

        <!-- Social Media Links -->
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
  
      </div>

      <!-- == Quick Links == -->
      <div class="footer-item">
        <h2>Quick Links</h2>
        <div class="info links">
          <p><i class="fa-solid fa-caret-right"></i><a href="About.html">About</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Services.html">Services</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Projects.html">Projects</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="">Blogs</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Shop-Grid.html">Shop</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Contact.html">Contact</a></p>
        </div>
      </div>
  
      <!-- == Services Links == -->
      <div class="footer-item">
        <h2>Our Services</h2>
        <div class="info links">
          <p><i class="fa-solid fa-caret-right"></i><a href="Service-Single.html">Interior Design</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Service-Single.html">Architecture Planning</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Service-Single.html">Renovation Expertise</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Service-Single.html">Outdoor Mastery</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Service-Single.html">Project Management</a></p>
          <p><i class="fa-solid fa-caret-right"></i><a href="Service-Single.html">Consultation Services</a></p>
        </div>
      </div>
  
  
      <!-- == Newsletter Subscription == -->
      <div class="footer-item">

        <h2>Newsletter</h2>
        <p>Stay Updated On The Latest Architectural And Interior Design Trends, Special Offers, And More.</p> <!-- Newsletter Description -->
        
        <form class="dark-form">
          <div class="input-field">
            <label for="news-email" class="fas fa-envelope"></label>
            <input type="email" id="news-email" name="email" class="box" placeholder="Your email address" required=""> <!-- Email Input Field -->
          </div>   
          <button type="submit" class="btn">Subscribe</button> <!-- Subscribe Button -->
        </form>

      </div>      
  
    </div>
  
    <!-- == Designer's Name and Copyright == -->
    <div class="content">
      <p>Copyright & Night</p>
    </div>
  
  </footer>
  <!-- ==================== Footer Area (End) ==================== -->

 

  <!-- Jquery -->
  <script src="static/js/jquery.min.js"></script>

  <!-- Custom Script Files -->
  <script src="static/js/script.js"></script> <!-- Custom JavaScript file with additional website functionality. -->
  <script src="static/js/nav-link-toggler.js"></script> <!-- Manages navigation link toggling (e.g., hamburger menu) for mobile devices -->


</body>
</html>