<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>中医药查询系统</title>
  <link rel="stylesheet" href="../static/css/all.min.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body>
  <div class="page-title">
    <div class="title">
      <h2>{{herbs[195].a}}</h2>
    </div>
    <div class="link">
      <a href="index.html">Home</a>
      <i class="fas fa-slash"></i>
      <span class="page">{{herbs[195].a}}</span>
    </div>
  </div>

  <section class="career">
    <section class="about">
      <div class="box-container">
        <div class="content">
          <div class="heading">
            <div class="sub"><h2>{{herbs[195].a}} 性状</h2></div>
            <br>
            <span>带 &nbsp; 您 &nbsp; 发 &nbsp; 现 &nbsp; 中 &nbsp; 药</span>
          </div>
          <p>&nbsp;&nbsp;&nbsp {{herbs[195].g}} </p>
          <ul class="about-features">
            <li>
              <div class="text">
                <i class="fas fa-pencil-ruler"></i>
                <p>拼音：{{herbs[195].b}}</p>
              </div>
            </li>
            <li>
              <div class="text">
                <i class="fas fa-drafting-compass"></i>
                <p>拉丁名：{{herbs[195].c}}</p>
              </div>
            </li>
            <li>
              <div class="text">
                <i class="fas fa-building"></i>
                <p>所属科目：{{herbs[195].d}}</p>
              </div>
            </li>
            <li>
              <div class="text">
                <i class="fas fa-project-diagram"></i>
                <p>性味：{{herbs[195].h}} {{herbs[195].i}}</p>
              </div>
            </li>
            <li>
              <div class="text">
                <i class="fas fa-lightbulb"></i>
                <p>归经：{{herbs[195].k}}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="image">
          <img src="../static/picture/p196.jpg" alt="Career-Image">
        </div>
      </div>
    </section>

    <div class="career-benefits">
      <div class="benefit-item">
        <i class="fas fa-money-bill-alt"></i>
        <div class="content">
          <h3>{{herbs[195].a}} 功效</h3>
          <p>{{herbs[195].j}}</p>
        </div>
      </div>
      <div class="benefit-item">
        <i class="fas fa-chalkboard-teacher"></i>
        <div class="content">
          <h3>{{herbs[195].a}} 产地</h3>
          <p>{{herbs[195].e}}</p>
        </div>
      </div>
      <div class="benefit-item">
        <i class="fas fa-project-diagram"></i>
        <div class="content">
          <h3>{{herbs[195].a}} 采摘时间</h3>
          <p>{{herbs[195].f}}</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content">
      <p>Copyright &copy; Night</p>
    </div>
  </footer>

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/script.js"></script>
  <script src="../static/js/nav-link-toggler.js"></script>
</body>
</html>
