<!DOCTYPE html>
<html lang="en">
<head>    
       
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <!-- Title -->   
  <title>中医药查询系统</title>  

  <!-- Favicon -->
  

  <!-- Font-Awesome (CSS) -->
  <link rel="stylesheet" href="static/css/all.min.css">

  <!-- Magnific-Popup (CSS) -->
  <link rel="stylesheet" href="static/css/magnific-popup.css">

  <!-- Swiper (CSS) -->
  <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/responsive.css">

  <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchForm = document.querySelector(".search-container");
            const searchBar = document.getElementById("search-bar");

            // 定义中文关键词到HTML文件的映射关系
            const mapping =  {'一枝黄花': 'file1.html', '丁公藤': 'file2.html', '丁香': 'file3.html', '三七': 'file4.html',
              '三棱': 'file5.html', '三白草': 'file6.html', '三颗针': 'file7.html', '丝瓜络': 'file8.html', '两面针': 'file9.html',
              '丹参': 'file10.html', '乌梅': 'file11.html', '乌药': 'file12.html', '九里香': 'file13.html', '乳香': 'file14.html',
              '五加皮': 'file15.html', '五味子': 'file16.html', '亚麻子': 'file17.html', '人参': 'file18.html', '人参叶': 'file19.html',
              '仙茅': 'file20.html', '仙鹤草': 'file21.html', '伊贝母': 'file22.html', '何首乌': 'file23.html', '佛手': 'file24.html',
              '佩兰': 'file25.html', '使君子': 'file26.html', '侧柏叶': 'file27.html', '偏头七': 'file28.html', '党参': 'file29.html',
              '八角茴香': 'file30.html', '冬凌草': 'file31.html', '冬瓜皮': 'file32.html', '冰片': 'file33.html', '决明子': 'file34.html',
              '刀豆': 'file35.html', '刺五加': 'file36.html', '前胡': 'file37.html', '化橘红': 'file38.html', '北刘寄奴': 'file39.html',
              '北沙参': 'file40.html', '北豆根': 'file41.html', '千里光': 'file42.html', '千金子': 'file43.html', '升麻': 'file44.html',
              '半夏': 'file45.html', '半枝莲': 'file46.html', '半边莲': 'file47.html', '南五味子': 'file48.html', '南鹤虱': 'file49.html',
              '卷柏': 'file50.html', '厚朴': 'file51.html', '合欢皮': 'file52.html', '合欢花': 'file53.html', '吴茱萸': 'file54.html',
              '商陆': 'file55.html', '四季青': 'file56.html', '土木香': 'file57.html', '土茯苓': 'file58.html', '土荆皮': 'file59.html',
              '土贝母': 'file60.html', '地榆': 'file61.html', '地骨皮': 'file62.html', '地黄': 'file63.html', '垂盆草': 'file64.html',
              '墨旱莲': 'file65.html', '夏天无': 'file66.html', '夏枯草': 'file67.html', '大叶紫珠': 'file68.html', '大枣': 'file69.html',
              '大皂角': 'file70.html', '大蒜': 'file71.html', '大蓟': 'file72.html', '大血藤': 'file73.html', '大青叶': 'file74.html',
              '大黄': 'file75.html', '天仙子': 'file76.html', '天仙藤': 'file77.html', '天冬': 'file78.html', '天南星': 'file79.html',
              '天竺黄': 'file80.html', '天花粉': 'file81.html', '天麻': 'file82.html', '太子参': 'file83.html', '女贞子': 'file84.html',
              '委陵菜': 'file85.html', '姜黄': 'file86.html', '威灵仙': 'file87.html', '娑罗子': 'file88.html', '安息香': 'file89.html',
              '密蒙花': 'file90.html', '射干': 'file91.html', '小茴香': 'file92.html', '小蓟': 'file93.html', '山慈菇': 'file94.html',
              '山柰': 'file95.html', '山楂': 'file96.html', '山茱萸': 'file97.html', '山药': 'file98.html', '山豆根': 'file99.html',
              '岩白菜': 'file100.html', '川乌': 'file101.html', '川木通': 'file102.html', '川木香': 'file103.html', '川楝子': 'file104.html',
              '川牛膝': 'file105.html', '川芎': 'file106.html', '川贝母': 'file107.html', '巴戟天': 'file108.html', '巴豆': 'file109.html',
              '巴豆霜': 'file110.html', '常山': 'file111.html', '干姜': 'file112.html', '平贝母': 'file113.html', '广藿香': 'file114.html',
              '广金钱草': 'file115.html', '延胡索': 'file116.html', '当归': 'file117.html', '当药': 'file118.html', '徐长卿': 'file119.html',
              '忍冬藤': 'file120.html', '急性子': 'file121.html', '拳参': 'file122.html', '救必应': 'file123.html', '旋覆花': 'file124.html',
              '昆布': 'file125.html', '明党参': 'file126.html', '月季花': 'file127.html', '木瓜': 'file128.html', '木蝴蝶': 'file129.html',
              '木贼': 'file130.html', '木通': 'file131.html', '木香': 'file132.html', '木鳖子': 'file133.html', '朱砂根': 'file134.html',
              '杜仲': 'file135.html', '杜仲叶': 'file136.html', '杠板归': 'file137.html', '板蓝根': 'file138.html', '枇杷叶': 'file139.html',
              '枳壳': 'file140.html', '枳实': 'file141.html', '枸杞子': 'file142.html', '枸骨叶': 'file143.html', '柏子仁': 'file144.html',
              '柴胡': 'file145.html', '柿蒂': 'file146.html', '栀子': 'file147.html', '桂枝': 'file148.html', '桃仁': 'file149.html',
              '桃枝': 'file150.html', '桑叶': 'file151.html', '桑寄生': 'file152.html', '桑枝': 'file153.html', '桑白皮': 'file154.html',
              '桔梗': 'file155.html', '棕榈': 'file156.html', '榼藤子': 'file157.html', '槐花': 'file158.html', '槐角': 'file159.html',
              '槟榔': 'file160.html', '槲寄生': 'file161.html', '橘核': 'file162.html', '檀香': 'file163.html', '款冬花': 'file164.html',
              '水飞蓟': 'file165.html', '沉香': 'file166.html', '没药': 'file167.html', '泽兰': 'file168.html', '泽泻': 'file169.html',
              '洋金花': 'file170.html', '浙贝母': 'file171.html', '浮萍': 'file172.html', '海藻（羊栖菜）': 'file173.html',
              '海金沙': 'file174.html', '海风藤': 'file175.html', '淡竹叶': 'file176.html', '淫羊藿': 'file177.html', '满山红': 'file178.html',
              '漏芦': 'file179.html', '火麻仁': 'file180.html', '灯心草': 'file181.html', '灯盏细辛': 'file182.html', '灵芝': 'file183.html',
              '焦栀子': 'file184.html', '牛膝': 'file185.html', '牛蒡子': 'file186.html', '牡丹皮': 'file187.html', '牡荆叶': 'file188.html',
              '牵牛子': 'file189.html', '独一味': 'file190.html', '独活': 'file191.html', '狼毒': 'file192.html', '猪牙皂': 'file193.html',
              '玄参': 'file194.html', '玉竹': 'file195.html', '王不留行': 'file196.html', '玫瑰花': 'file197.html', '珠子参': 'file198.html',
              '瓜蒌': 'file199.html', '甘松': 'file200.html', '甘草': 'file201.html', '甘遂': 'file202.html', '生姜': 'file203.html',
              '番泻叶': 'file204.html', '白前': 'file205.html', '白及': 'file206.html', '白头翁': 'file207.html', '白屈菜': 'file208.html',
              '白扁豆': 'file209.html', '白术': 'file210.html', '白果': 'file211.html', '白芍': 'file212.html', '白芷': 'file213.html',
              '白茅根': 'file214.html', '白蔹': 'file215.html', '白薇': 'file216.html', '白附子': 'file217.html', '白鲜皮': 'file218.html',
              '百合': 'file219.html', '百部': 'file220.html', '皂角刺': 'file221.html', '益智': 'file222.html', '益母草': 'file223.html',
              '知母': 'file224.html', '石吊兰': 'file225.html', '石斛': 'file226.html', '石榴皮': 'file227.html', '石菖蒲': 'file228.html',
              '石韦': 'file229.html', '砂仁': 'file230.html', '秦艽': 'file231.html', '积雪草': 'file232.html', '穿山龙': 'file233.html',
              '穿心莲': 'file234.html', '竹根七': 'file235.html', '竹茹': 'file236.html', '筋骨草': 'file237.html', '紫花地丁': 'file238.html',
              '紫苏叶': 'file239.html', '紫苏子': 'file240.html', '紫苏梗': 'file241.html', '紫草': 'file242.html', '紫菀': 'file243.html',
              '红参': 'file244.html', '红景天': 'file245.html', '红花': 'file246.html', '细辛': 'file247.html', '络石藤': 'file248.html',
              '续断': 'file249.html', '绵萆薢': 'file250.html', '罂粟壳': 'file251.html', '罗布麻叶': 'file252.html', '罗汉果': 'file253.html',
              '羌活': 'file254.html', '老鹳草': 'file255.html', '肉桂': 'file256.html', '肉苁蓉': 'file257.html', '肉豆蔻': 'file258.html',
              '肿节风': 'file259.html', '胖大海': 'file260.html', '胡椒': 'file261.html', '胡芦巴': 'file262.html', '胡黄连': 'file263.html',
              '艾叶': 'file264.html', '芡实': 'file265.html', '芥子': 'file266.html', '芦根': 'file267.html', '芦荟': 'file268.html',
              '芫花': 'file269.html', '花椒': 'file270.html', '苍术': 'file271.html', '苍耳子': 'file272.html', '苏合香': 'file273.html',
              '苏木': 'file274.html', '苦参': 'file275.html', '苦地丁': 'file276.html', '苦木': 'file277.html', '苦杏仁': 'file278.html',
              '苦楝皮': 'file279.html', '苦玄参': 'file280.html', '茜草': 'file281.html', '茯苓': 'file282.html', '茵陈': 'file283.html',
              '荆芥': 'file284.html', '草乌': 'file285.html', '草果': 'file286.html', '草豆蔻': 'file287.html', '荜澄茄': 'file288.html',
              '荜茇': 'file289.html', '药王茶': 'file290.html', '荷叶': 'file291.html', '莪术': 'file292.html', '莱菔子': 'file293.html',
              '莲子': 'file294.html', '莲子心': 'file295.html', '菊花': 'file296.html', '菊苣': 'file297.html', '菝葜': 'file298.html',
              '菟丝子': 'file299.html', '菥蓂': 'file300.html', '萹蓄': 'file301.html', '葛根': 'file302.html', '葶苈子': 'file303.html',
              '蒲公英': 'file304.html', '蒲黄': 'file305.html', '蒺藜': 'file306.html', '蓍草': 'file307.html', '蓖麻子': 'file308.html',
              '蓼大青叶': 'file309.html', '蔓荆子': 'file310.html', '薄荷': 'file311.html', '薏苡仁': 'file312.html', '薤白': 'file313.html',
              '藁本': 'file314.html', '藕节': 'file315.html', '虎杖': 'file316.html', '蛇床子': 'file317.html', '蜘蛛香': 'file318.html',
              '血竭': 'file319.html', '补骨脂': 'file320.html', '西洋参': 'file321.html', '覆盆子': 'file322.html', '诃子': 'file323.html',
              '谷精草': 'file324.html', '豆蔻': 'file325.html', '豨莶草': 'file326.html', '赤小豆': 'file327.html', '赤芍': 'file328.html',
              '路路通': 'file329.html', '车前子': 'file330.html', '车前草': 'file331.html', '辛夷': 'file332.html', '辣椒': 'file333.html',
              '远志': 'file334.html', '连翘': 'file335.html', '连钱草': 'file336.html', '追风七（蓝布正）': 'file337.html', '郁李仁': 'file338.html',
              '郁金': 'file339.html', '酸枣仁': 'file340.html', '野木瓜': 'file341.html', '野菊花': 'file342.html', '金果榄': 'file343.html',
              '金樱子': 'file344.html', '金沸草': 'file345.html', '金钱草': 'file346.html', '金铁锁': 'file347.html', '金银花': 'file348.html',
              '钩藤': 'file349.html', '银柴胡': 'file350.html', '锁阳': 'file351.html', '闹羊花': 'file352.html', '防己': 'file353.html',
              '防风': 'file354.html', '附子': 'file355.html', '陈皮': 'file356.html', '降香': 'file357.html', '雷公藤': 'file358.html',
              '青叶胆': 'file359.html', '青果': 'file360.html', '青皮': 'file361.html', '青葙子': 'file362.html', '青蒿': 'file363.html',
              '青风藤': 'file364.html', '韭菜子': 'file365.html', '预知子': 'file366.html', '颠茄草': 'file367.html', '香加皮': 'file368.html',
              '香橼': 'file369.html', '香薷': 'file370.html', '香附': 'file371.html', '马兜铃': 'file372.html',
              '马钱子': 'file373.html', '马鞭草': 'file374.html', '马齿苋': 'file375.html', '骨碎补': 'file376.html',
              '高良姜': 'file377.html', '鱼腥草': 'file378.html', '鸡冠花': 'file379.html', '鸡血藤': 'file380.html',
              '鸡骨草': 'file381.html', '鸦胆子': 'file382.html', '鸭跖草': 'file383.html', '鹅不食草': 'file384.html',
              '鹿衔草': 'file385.html', '麦冬': 'file386.html', '麦芽': 'file387.html', '麻黄': 'file388.html', '麻黄根': 'file389.html',
              '黄山药': 'file390.html', '黄柏': 'file391.html', '黄精': 'file392.html', '黄芩': 'file393.html', '黄芪': 'file394.html',
              '黄蜀葵花': 'file395.html', '黄连': 'file396.html', '黑种草子': 'file397.html', '黑芝麻': 'file398.html', '黑豆': 'file399.html',
              '龙眼肉': 'file400.html', '龙胆': 'file401.html', '龙葵': 'file402.html'}

            // 搜索函数
            function search(query) {
                const fileName = mapping[query];
                if (fileName) {
                    // 跳转到对应的HTML文件
                    window.location.href = fileName;
                } else {
                    alert('未找到匹配的文件。');
                }
            }

            // 监听表单提交事件
            searchForm.addEventListener("submit", function(event) {
                event.preventDefault();
                const query = searchBar.value.trim();
                search(query);
            });
        });
    </script>
</head>
<body>

  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fa-solid fa-arrow-up-long"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->
    


  <!-- ==================== Header Area (Start) ==================== -->
  <header class="header">

    <!-- ===== Header-1 Area (Start) ===== -->
    <div class="header-1">

      <!-- == Contacts == -->
      <ul class="header-contacts">
        <li><i class="fas fa-phone"></i><span>18868776067</span></li>
        <li><i class="fas fa-envelope"></i><span class="gmail">3432192572@qq.com</span></li>
      </ul>

      <!-- == Social == -->
      <ul class="social-contacts">
        <li><a href="#" class="fab fa-facebook-f"></a></li>
        <li><a href="#" class="fa-brands fa-x-twitter"></a></li>
        <li><a href="#" class="fab fa-instagram"></a></li>
        <li><a href="#" class="fab fa-linkedin"></a></li>
      </ul>

    </div>
    <!-- ===== Header-1 Area (End) ===== -->

    <!-- ===== Header-2 Area (Start) ===== -->
    <div class="header-2">

      <!-- == Logo == -->
      <a class="logo" href="">
        <img src="static/picture/logo.png" alt="logo">
        <div class="logo-name">
          <h3>Night</h3>
        </div>
      </a>

      <div class="container">

        <!-- == Navbar == -->
        <nav class="navbar">

          <div class="dropdown-menu">
            <button class="nav-btn"><a class="nav-btn" href="index.html">首页</a></button>
            <div class="dropdown-content">
              <a href="Register.html">注册</a>
              <a href="Login.html">登录</a>

            </div>
          </div>


         <a class="nav-btn"  href="About.html">技术指南</a>

          <div class="dropdown-menu">
            <button class="nav-btn">中医宣传</button>
            <div class="dropdown-content">
              <a href="Gallery.html">中医大家</a>
              <a href="Process.html">中药材</a>
              <a href="Pricing.html">经方</a>

              <a href="Partners.html">针灸</a>
              <a href="Career.html">推拿</a>
              <a href="Career-Single.html">把脉</a>
             
            </div>
          </div>

          <div class="dropdown-menu">
            <a class="nav-btn" href="Login.html">查询</a>
<!--            <button class="nav-btn">查询</button>-->
<!--            <div class="dropdown-content">-->
<!--              <a href="Services.html">中药查询</a>-->
<!--              <a href="Service-Single.html">病症查询</a>-->
<!--            </div>-->
          </div>



<!--          <div class="dropdown-menu">-->
<!--            <button class="nav-btn">博客</button>-->
<!--            <div class="dropdown-content">-->
<!--              <a href="Blog-Grid.html">blogs grid</a>-->
<!--              <a href="Blog-List.html">blogs list</a>-->
<!--              <a href="Blog-Single.html">blog Single</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="dropdown-menu">-->
<!--            <button class="nav-btn">shop</button>-->
<!--            <div class="dropdown-content">-->
<!--              <a href="Shop-Grid.html">shop grid</a>-->
<!--              <a href="Shop-List.html">shop list</a>-->
<!--              <a href="Product-Single.html">product Single</a>-->
<!--              <a href="Wishlist.html">wishlist</a>-->
<!--              <a href="Cart.html">cart</a>-->
<!--              <a href="Checkout.html">checkout</a>-->
<!--            </div>-->
<!--          </div>-->

          <a class="nav-btn" href="Contact.html">建议</a>

        </nav> 

        <!-- == Icon Container == -->
        <div class="icon-container">

          <div id="search-btn" class="icon fa-solid fa-magnifying-glass"></div> <!-- Search Icon -->
          <div id="menu-btn" class="icon fa-solid fa-bars-staggered"></div>
          <a href="Request-Quote.html" class="btn">详细信息</a>
        </div>

        <!-- == Search Container == -->
        <form class="search-container">
          <input type="search" id="search-bar" placeholder="search here" required=""> <!-- Search Input -->
          <button type="submit"><i class="fas fa-search"></i></button> <!-- Submit Button -->
        </form>

      </div>

    </div>
    <!-- ===== Header-2 Area (End) ===== -->

    <!-- ===== Mobile Menu Area (Start) ===== -->
    <div class="mobile-menu"> 
    
      <nav class="mobile-navbar">

        <div class="nav-link">
          <div class="main-nav-link"> <a class="nav-btn" href="">home</a> </div>
        </div>   

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">about</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="About.html">about us</a>
            <a href="Team.html">team</a>
            <a href="Team-Single.html">team single</a>
            <a href="Testimonials.html">testimonials</a>
            <a href="Faqs.html">faqs</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">pages</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Gallery.html">Gallery</a>
            <a href="Process.html">our process</a>
            <a href="Pricing.html">Pricing</a>
            <a href="Request-Quote.html">Request A Quote</a>
            <a href="Partners.html">Partners</a>
            <a href="Career.html">Career</a>
            <a href="Career-Single.html">Career Single</a>
            <a href="Login.html">login</a>
            <a href="Register.html">register</a>
            <a href="Reset-Password.html">forgot Password</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Service</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Services.html">Services</a>
            <a href="Service-Single.html">Service Single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Project</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Projects.html">Projects</a>
            <a href="Project-Single.html">Project Single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">blog</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Blog-Grid.html">blogs grid</a>
            <a href="Blog-List.html">blogs list</a>
            <a href="Blog-Single.html">blog Single</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Shop</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Shop-Grid.html">shop grid</a>
            <a href="Shop-List.html">shop list</a>
            <a href="Product-Single.html">product Single</a>
            <a href="Wishlist.html">wishlist</a>
            <a href="Cart.html">cart</a>
            <a href="Checkout.html">checkout</a>
          </div>
        </div> 

        <div class="nav-link">
          <div class="main-nav-link"> <a class="nav-btn" href="Contact.html">contact</a> </div>
        </div>  

      </nav> 
    
    </div>
    <!-- ===== Mobile Menu Area (End) ===== -->

  </header>
  <!-- ==================== Header Area (End) ==================== -->  



  <!-- ==================== Home-Slider Area (Start) ==================== -->  

  <section class="home">
  
    <!-- Architecture and Interior Design Slider -->
    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">
  
        <!-- Home Slide-1 -->
        <div class="swiper-slide home-item">
          <img src="static/picture/theme1.png" alt="Home-Image"> <!-- Slide Image -->
          <div class="content">
            <div class="text">
              <h5><span></span>一个专注于中医的网站<span></span></h5> <!-- Slide Subheading -->
              <h3>中医药查询系统</h3> <!-- Slide Heading -->
              <a href="Register.html" class="btn">中医查询</a> <!-- Menu Button -->
            </div>
          </div>
        </div>
  
        <!-- Home Slide-2 -->
        <div class="swiper-slide home-item">
          <img src="static/picture/theme2.jpg" alt="Home-Image"> <!-- Slide Image -->
          <div class="content">
            <div class="text">
              <h5><span></span>一个专注于中医的网站<span></span></h5> <!-- Slide Subheading -->
              <h3>中医药查询系统</h3> <!-- Slide Heading -->
              <a href="Register.html" class="btn"> 中医查询</a> <!-- Menu Button -->
            </div>
          </div>
        </div>
  
        <!-- Home Slide-3 -->
        <div class="swiper-slide home-item">
          <img src="static/picture/theme3.jpg" alt="Home-Image"> <!-- Slide Image -->
          <div class="content">
            <div class="text">
              <h5><span></span>一个专注于中医的网站<span></span></h5> <!-- Slide Subheading -->
              <h3>中医药查询系统</h3> <!-- Slide Heading -->
              <a href="Register.html" class="btn">中医查询</a> <!-- Menu Button -->
            </div>
          </div>
        </div>
  
      </div>
  
      <!-- Home Slider Pagination -->
      <div class="swiper-pagination swiper-pagination1"></div>
  
      <!-- Home Slider Navigation arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  
    </div>
  
  </section>

  <!-- ==================== Home-Slider Area (End) ==================== -->     



  <!-- ==================== About Area (Start) ==================== -->

  <section class="about">

    <!-- About Information -->
    <div class="box-container">

      <!-- About Image -->
      <div class="image">
        <!-- Image -->
        <img src="static/picture/his4.png" alt="About-Image">
        <!-- Experience Overlay -->
        <div class="experience">
          <!-- Experience Count -->
          <h3>5000</h3>
          <!-- Experience Description -->
          <p>Years of<br>Medicine</p>
        </div>
      </div>


      <!-- About Content -->
      <div class="content">

        <div class="heading">
          <span> 关于中医 </span> <!-- Sub Heading -->
          <h2>来自老祖宗的宝贵财富</h2> <!-- Main Heading -->
        </div>

        <!-- Description -->
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中医学以阴阳五行作为理论基础，将人体看成是气、形、神的统一体，通过“望闻问切”四诊合参的方法，探求病因、病性、病位，分析病机及人体内五脏六腑、经络关节、气血津液的变化，判断邪正消长，进而得出病名，归纳出证型，
          以辨证论治原则，制定“汗、吐、下、和、温、清、补、消”等治法，使用中药、针灸、推拿、按摩、拔罐、气功、食疗等多种治疗手段，使人体达到阴阳调和而康复。</p>

        <!-- List of Key Points -->
        <ul class="about-points">

          <!-- Point 1: Expert Architects and Designers -->
          <li>
            <div class="text">
              <i class="fas fa-user-tie"></i> <!-- Icon for Expert Architects and Designers -->
              <p>张仲景 皇甫谧 孙思邈 李时珍</p><!-- Point Title: Expert Architects and Designers -->
            </div>
          </li>

          <!-- Point 2: Innovative Design Solutions -->
          <li>
            <div class="text">
              <i class="fas fa-lightbulb"></i> <!-- Icon for Innovative Design Solutions -->
              <p>《皇帝内径》《伤寒杂病论》</p> <!-- Point Title: Innovative Design Solutions -->
            </div>
          </li>

          <!-- Point 3: Sustainable and Functional Spaces -->
          <li>
            <div class="text">
              <i class="fas fa-leaf"></i> <!-- Icon for Sustainable and Functional Spaces -->
              <p>针灸 推拿 拔火罐 </p> <!-- Point Title: Sustainable and Functional Spaces -->
            </div>
          </li>

          <!-- Point 4: Collaborative Design Process -->
          <li>
            <div class="text">
              <i class="fas fa-hands-helping"></i> <!-- Icon for Collaborative Design Process -->
              <p>用户反馈</p> <!-- Point Title: Collaborative Design Process -->
            </div>
          </li>

        </ul>

        <!-- Contact Button -->
        <a href="Contact.html" class="btn">联系我们</a>

      </div>

    </div>

  </section>

  <!-- ==================== About Area (End) ==================== -->



  <!-- ==================== Count Area (Start) ==================== -->
  <div class="counting">

    <!-- Statistic Box 1: Projects Completed Count -->
    <div class="box">
      <div class="info">
        <i class="fas fa-clipboard-check"></i> <!-- Clipboard icon -->
        <div class="content">
          <h3>最近收集中药种类</h3> <!-- Statistic description -->
          <h1 class="count" data-count="99">700+</h1> <!-- Count of projects completed -->
        </div>
      </div>
    </div>
  
    <!-- Statistic Box 2: Satisfied Clients Count -->
    <div class="box">
      <div class="info">
        <i class="far fa-smile"></i> <!-- Smiling face icon -->
        <div class="content">
          <h3>最近收集常见病症数</h3> <!-- Statistic description -->
          <h1 class="count" data-count="370">300+</h1> <!-- Count of satisfied clients -->
        </div>
      </div>
    </div>
  
    <!-- Statistic Box 3: Awards Won Count -->
    <div class="box">
      <div class="info">
        <i class="fas fa-award"></i> <!-- Award icon -->
        <div class="content">
          <h3>用户日查询量</h3> <!-- Statistic description -->
          <h1 class="count" data-count="19">50+</h1> <!-- Count of Awards Won -->
        </div>
      </div>
    </div>
  
    <!-- Statistic Box 4: Expert Designers Count -->
    <div class="box">
      <div class="info">
        <i class="fas fa-users"></i> <!-- Users icon -->
        <div class="content">
          <h3>用户反馈</h3> <!-- Statistic description -->
          <h1 class="count" data-count="15">15+</h1> <!-- Count of expert designers -->
        </div>
      </div>
    </div>
  
  </div>
  <!-- ==================== Count Area (End) ==================== -->



  <!-- ==================== Services Area (Start) ==================== -->
  <section class="services">

    <!-- Section Heading -->
    <div class="heading">  
<!--      <span>what we offer</span>-->
      <h2>我们的服务</h2>
    </div>

    <!-- Service Slider -->
    <div class="swiper-container service-slider">
      <div class="swiper-wrapper">

        <!-- Service 1: Interior Design -->
        <div class="swiper-slide service-item">
          <img src="static/picture/Service-1.jpg" alt="Interior Design"> <!-- Service Image -->
          <div class="content">
            <i class="fas fa-paint-brush"></i> <!-- Brush Icon -->
            <a href="Login.html"><h3>中医查询</h3></a> <!-- Service Title -->
            <p>用户可以在那询问中医智达中医知识，中医智达会结合毕生所学的给您一个满意的答案.</p> <!-- Service Description -->
            <a href="Login.html" class="detail-btn fa-solid fa-arrow-right"></a>
          </div>
        </div>

        <!-- Service 2: Architecture Planning -->
        <div class="swiper-slide service-item">
          <img src="static/picture/Service-2.jpg" alt="Architecture Planning"> <!-- Service Image -->
          <div class="content">
            <i class="fas fa-drafting-compass"></i> <!-- Drafting Compass Icon -->
            <a href="https://general.medsci.cn/article/show_article.do?id=6d1c6190447"><h3>猜你想看</h3></a> <!-- Service Title -->
            <p>我们会给您提供近期比较热门的中医模块，供您查阅.</p> <!-- Service Description -->
            <a href="https://general.medsci.cn/article/show_article.do?id=6d1c6190447" class="detail-btn fa-solid fa-arrow-right"></a>
          </div>
        </div>

        <!-- Service 3: Renovation Expertise -->
        <div class="swiper-slide service-item">
          <img src="static/picture/Service-3.jpg" alt="Renovation Expertise"> <!-- Service Image -->
          <div class="content">
            <i class="fas fa-wrench"></i> <!-- Wrench Icon -->
            <a href="https://www.gov.cn/zhengce/content/2023-02/28/content_5743680.htm"><h3>猜你想搜</h3></a> <!-- Service Title -->
            <p>我们会实时更新国家对于中医发展的政策。</p> <!-- Service Description -->
            <a href="https://www.gov.cn/zhengce/content/2023-02/28/content_5743680.htm" class="detail-btn fa-solid fa-arrow-right"></a>
          </div>
        </div>

        <!-- Service 4: Outdoor Mastery -->
        <div class="swiper-slide service-item">
          <img src="static/picture/Service-4.jpg" alt="Outdoor Mastery"> <!-- Service Image -->
          <div class="content">
            <i class="fas fa-tree"></i> <!-- Tree Icon -->
            <a href="Contact.html"><h3>用户反馈</h3></a> <!-- Service Title -->
            <p>您可以实时给我们关于网站、中医智达机器人或者中医知识的建议，我们都会及时查看，听取您宝贵的意见。</p> <!-- Service Description -->
            <a href="Contact.html" class="detail-btn fa-solid fa-arrow-right"></a>
          </div>
        </div>


      </div>
    </div>

  </section>
  <!-- ==================== Services Area (End) ==================== -->



  <!-- ==================== Skills Area (Start) ==================== -->  
  <section class="skills-section">
  
    <div class="box-container">
  
      <!-- Main Content Area -->
      <div class="content">
        <div class="text">
  
          <!-- Section Heading -->
          <div class="heading">
            <span>智能体</span>
          </div>
  
          <h3>中医智达智能体的优秀性能</h3> <!-- Main Heading -->
          <p>自己搜集大规模中医药数据集，对LLM模型进行Lora微调，使中医智达智能体更符合中医思维，更符合医学生体质</p>
  
          <!-- Key Skills -->
          <div class="skills">
  
            <!-- Creative Vision -->
            <div class="box">
              <h3>准确性<span> 90% </span> </h3>
              <div class="progress-bar"> <span style="width: 90%;"></span> </div>
            </div>
  
            <!-- Client Satisfaction -->
            <div class="box">
              <h3>专业性<span> 95% </span> </h3>
              <div class="progress-bar"> <span style="width: 95%;"></span> </div>
            </div>
  
            <!-- Project Completion -->
            <div class="box">
              <h3>用户满意度<span> 98% </span> </h3>
              <div class="progress-bar"> <span style="width: 98%;"></span> </div>
            </div>
  
          </div>
  
        </div>
      </div>
  
      <!-- Main Image Area -->
      <div class="image">
        <img src="static/picture/back_01.png" alt="Skill Image">
      </div>
  
    </div>
  
  </section>
  <!-- ==================== Skills Area (Start) ==================== -->  



  <!-- ==================== Footer Area (Start) ==================== -->
  <footer class="footer">

    <!-- == Designer's Name and Copyright == -->
    <div class="content">
      <p>Copyright &copy; Night </p>
    </div>
  
  </footer>
  <!-- ==================== Footer Area (End) ==================== -->


 
  <!-- Jquery -->
  <script src="static/js/jquery.min.js"></script>

  <!-- Swiper (JS) -->
  <script src="static/js/swiper-bundle.min.js"></script>

  <!-- Magnific-Popup JS -->
  <script src="static/js/jquery.magnific-popup.min.js"></script>

  <!-- Isotope (JS) -->
  <script src="static/js/isotope.pkgd.min.js"></script>

  <!-- Custom Script Files -->
  <script src="static/js/script.js"></script> <!-- Additional website functionality -->
  <script src="static/js/nav-link-toggler.js"></script> <!-- Mobile navigation link toggling -->
  <script src="static/js/home-slider.js"></script> <!-- Dynamic Home Slider -->
  <script src="static/js/counter-up.js"></script> <!-- Numerical counting animation -->
  <script src="static/js/service-slider.js"></script> <!-- Service slider control -->
  <script src="static/js/projects.js"></script>  <!-- Projects functionality, including image filtering -->
  <script src="static/js/testi-slider.js"></script> <!-- Interactive Testimonial Slider -->
  <script src="static/js/partner-slider.js"></script> <!-- Interactive Partner Slider -->


</body>
</html>