<!DOCTYPE html>
<html lang="en"> 
<head> 
     
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Title -->   
  <title>中医药查询系统</title>
 
  <!-- Favicon -->
  

  <!-- Font-Awesome (CSS) -->
  <link rel="stylesheet" href="static/css/all.min.css">

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="static/css/main.css"> 
  <link rel="stylesheet" href="static/css/responsive.css">

</head>
<body>  

  <!-- ==================== Scroll-Top Area (Start) ==================== -->
  <a href="#" class="scroll-top">
    <i class="fa-solid fa-arrow-up-long"></i>
  </a>
  <!-- ==================== Scroll-Top Area (End) ==================== -->



  <!-- ==================== Header Area (Start) ==================== -->
  <header class="header">

    <!-- ===== Header-1 Area (Start) ===== -->
    <div class="header-1">

      <!-- == Contacts == -->
      <ul class="header-contacts">
        <li><i class="fas fa-phone"></i><span>18868776067</span></li>
        <li><i class="fas fa-envelope"></i><span class="gmail">3432192572@qq.com</span></li>
      </ul>

      <!-- == Social == -->
      <ul class="social-contacts">
        <li><a href="#" class="fab fa-facebook-f"></a></li>
        <li><a href="#" class="fa-brands fa-x-twitter"></a></li>
        <li><a href="#" class="fab fa-instagram"></a></li>
        <li><a href="#" class="fab fa-linkedin"></a></li>
      </ul>

    </div>
    <!-- ===== Header-1 Area (End) ===== -->

    <!-- ===== Header-2 Area (Start) ===== -->
    <div class="header-2">

      <!-- == Logo == -->
      <a class="logo" href="index.html">
        <img src="static/picture/logo.png" alt="logo">
        <div class="logo-name">
          <h3>Night</h3>
        </div>
      </a>

      <div class="container">

        <!-- == Navbar == -->
        <nav class="navbar">

          <div class="dropdown-menu">
            <button class="nav-btn"><a class="nav-btn" href="index.html">首页</a></button>
            <div class="dropdown-content">
              <a href="Register.html">注册</a>
              <a href="Login.html">登录</a>

            </div>
          </div>



         <a class="nav-btn"  href="About.html">技术指南</a>

          <div class="dropdown-menu">
            <button class="nav-btn">中医宣传</button>
            <div class="dropdown-content">
              <a href="Gallery.html">中医大家</a>
              <a href="Process.html">中药材</a>
              <a href="Pricing.html">经方</a>

              <a href="Partners.html">针灸</a>
              <a href="Career.html">推拿</a>
              <a href="Career-Single.html">把脉</a>

            </div>
          </div>

          <div class="dropdown-menu">
            <a class="nav-btn" href="Login.html">查询</a>
          </div>




          <a class="nav-btn" href="Contact.html">建议</a>

        </nav>

        <!-- == Icon Container == -->
        <div class="icon-container">
          <div id="search-btn" class="icon fa-solid fa-magnifying-glass"></div> <!-- Search Icon -->
          <div id="menu-btn" class="icon fa-solid fa-bars-staggered"></div>
          <a href="Request-Quote.html" class="btn">详细信息</a>
        </div>

        <!-- == Search Container == -->
        <form class="search-container">
          <input type="search" id="search-bar" placeholder="search here" required=""> <!-- Search Input -->
          <button type="submit"><i class="fas fa-search"></i></button> <!-- Submit Button -->
        </form>

      </div>

    </div>
    <!-- ===== Header-2 Area (End) ===== -->

    <!-- ===== Mobile Menu Area (Start) ===== -->
    <div class="mobile-menu">

      <nav class="mobile-navbar">

        <div class="nav-link">
          <div class="main-nav-link"> <a class="nav-btn" href="index.html">home</a> </div>
        </div>

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">about</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="About.html">about us</a>
            <a href="Team.html">team</a>
            <a href="Team-Single.html">team single</a>
            <a href="Testimonials.html">testimonials</a>
            <a href="Faqs.html">faqs</a>
          </div>
        </div>

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">pages</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Gallery.html">Gallery</a>
            <a href="Process.html">our process</a>
            <a href="Pricing.html">Pricing</a>
            <a href="Request-Quote.html">Request A Quote</a>
            <a href="Partners.html">Partners</a>
            <a href="Career.html">Career</a>
            <a href="Career-Single.html">Career Single</a>
            <a href="Login.html">login</a>
            <a href="">register</a>
            <a href="Reset-Password.html">forgot Password</a>
          </div>
        </div>

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Service</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Services.html">Services</a>
            <a href="Service-Single.html">Service Single</a>
          </div>
        </div>

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Project</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Projects.html">Projects</a>
            <a href="Project-Single.html">Project Single</a>
          </div>
        </div>

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">blog</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Blog-Grid.html">blogs grid</a>
            <a href="Blog-List.html">blogs list</a>
            <a href="Blog-Single.html">blog Single</a>
          </div>
        </div>

        <div class="nav-link">
          <div class="main-nav-link"> <div class="nav-btn">Shop</div> <i class="fas fa-plus"></i> </div>
          <div class="sub-nav-link">
            <a href="Shop-Grid.html">shop grid</a>
            <a href="Shop-List.html">shop list</a>
            <a href="Product-Single.html">product Single</a>
            <a href="Wishlist.html">wishlist</a>
            <a href="Cart.html">cart</a>
            <a href="Checkout.html">checkout</a>
          </div>
        </div>

        <div class="nav-link">
          <div class="main-nav-link"> <a class="nav-btn" href="Contact.html">contact</a> </div>
        </div>

      </nav>

    </div>
    <!-- ===== Mobile Menu Area (End) ===== -->

  </header>
  <!-- ==================== Header Area (End) ==================== -->


    
  <!-- ==================== Page-Title (Start) ==================== -->
  <div class="page-title">

    <div class="title">
      <h2>register</h2>
    </div> 
    
    <div class="link">
      <a href="index.html">Home</a>
      <i class="fas fa-slash"></i>
      <span class="page">register</span>
    </div>

  </div>
  <!-- ==================== Page-Title (End) ==================== -->
    



  <!-- ==================== Page Body (Start) ======================== -->
     
  <!-- ==================== Register Area (Start) ==================== -->
  <section class="register">

    <!-- Registration Form (Start) -->
    <form class="account-form" method="post" >

      <h3>注册</h3> <!-- Form Heading -->

      <input type="text" name="name" placeholder="用户名" id="name" class="box" required=""> <!-- Name Input -->
      <input type="email" name="email" placeholder="邮箱" id="email" class="box" required=""> <!-- Email Input -->
      <input type="password" name="password" placeholder="输入密码" id="password" class="box" required=""> <!-- Password Input -->
      <input type="password" name="repeat-password" placeholder="再输一次密码" id="repeat-password" class="box" required=""> <!-- Repeat Password Input -->

      <!-- Terms and Conditions Checkbox -->

      <!-- Register Button -->
      <button type="submit" class="btn" name="register" id="register">注册</button>

      <!-- Login Link -->
      <p> 已有账户？ <a class="link" href="Login.html">登录</a></p>
    
    </form>
    <!-- Registration Form (End) -->

  </section>
  <!-- ==================== Register Area (End) ==================== -->

  <!-- ==================== Page Body (End) ======================== -->



    
  <!-- ==================== Footer Area (Start) ==================== -->
  <footer class="footer">

    <!-- == Designer's Name and Copyright == -->
    <div class="content">
      <p>Copyright &copy; Night </p>
    </div>
  
  </footer>
  <!-- ==================== Footer Area (End) ==================== -->

  
    
  <!-- Jquery -->
  <script src="static/js/jquery.min.js"></script>

  <!-- Custom Script Files -->
  <script src="static/js/script.js"></script> <!-- Custom JavaScript file with additional website functionality. -->
  <script src="static/js/nav-link-toggler.js"></script> <!-- Manages navigation link toggling (e.g., hamburger menu) for mobile devices -->

</body>
</html> 